.idea/*
# Ignore master key for decrypting credentials and more.
/config/master.key

*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/tmp/*
/spec/tmp

/log/*
!/log/.keep
!/tmp/.keep

.env
.env*.local

/.bundle
/vendor/bundle

.byebug_history

node_modules/

/public/packs
/public/packs-test
/public/assets